POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=time-tracker

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=time-tracker
DB_USER=user
DB_PASSWORD=password
DB_SSLMODE=disable
DB_LIBPQ_DLL='C:\Program Files\PostgreSQL\17\bin\libpq.dll'
APP_PORT=18080
JWT_SECRET=dev-secret-change-me
